* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
  min-height: 100vh;
}

#container {
  max-width: 400px;
  margin-inline: auto;
  padding: 10px;
}

#form {
  text-align: center;
}

.form-item {
  margin-bottom: 1em;
}

label {
  display: block;
  margin-bottom: 1em;
}

input {
  font-size: 1rem;
  padding: 0.5em;
  text-align: center;
  border: 1px solid #cccccc;
}

button {
  font-size: 1rem;
  padding: 0.5em;
  border: none;
  outline: none;
  cursor: pointer;
}

.submit-button {
  margin-top: 1.5em;
  margin-bottom: 1.5em;
}

#button {
  font-size: 1.5em;
  font-weight: bold;
  color: whitesmoke;
  background: rgba(91, 180, 222, 0.8);
  border-radius: 5px;
}

#button:active {
  background: rgba(91, 180, 222);
}

#result-content {
  text-align: center;
}

p {
  margin-bottom: 1rem;
}

.total-water {
  font-size: 2em;
  font-weight: bold;
}

table {
  border-collapse: collapse;
  width: 100%;
}

tr {
  text-align: center;
}

th {
  font-weight: normal;
  padding-bottom: 1em;
}

td {
  padding-bottom: 1em;
}
