* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
  min-height: 100vh;
}

#container {
  max-width: 400px;
  margin-inline: auto;
  padding: 10px;
}

.input-container {
  text-align: center;
  margin-bottom: 16px;
}

label {
  display: block;
  margin-bottom: 16px;
}

input {
  font-size: 1rem;
  padding: 0.5em;
  text-align: center;
  border: 1px solid #cccccc;
}

button {
  font-size: 1rem;
  padding: 0.5em;
  border: none;
  outline: none;
  cursor: pointer;
}

#result {
  margin-bottom: 16px;
}

#result-content {
  text-align: center;
}

p {
  margin-bottom: 16px;
}

.total-water {
  font-size: 2em;
  font-weight: bold;
}

table {
  border-collapse: collapse;
  width: 100%;
}

tr {
  text-align: center;
}

th {
  font-weight: normal;
  padding-bottom: 16px;
}

td {
  padding-bottom: 16px;
}

input[type='number']::-webkit-inner-spin-button,
input[type='number']::-webkit-outer-spin-button {
  appearance: none;
  margin: 0;
}
input[type='number'] {
  appearance: textfield;
}

.brand {
  border: 1px solid #ccc;
  border-radius: 4px;
  margin-bottom: 32px;
}

#brand {
  line-height: 1.25rem;
  padding: 16px;
  word-break: break-all;
}

#brand[contenteditable=true]:empty:not(:focus):before {
  content: attr(data-placeholder);
  color:grey;
}

#brand[contenteditable]:focus {
  outline: 0px solid transparent;
}

.display-none {
  display: none;
}

.save-button-container {
  display: flex;
  justify-content: end;
  padding: 16px;
  padding-top: 0;
}

.recipe {
  display: grid;
  grid-template-areas:
    "brand brand"
    "item-1 item-2"
    "item-3 item-4"
    "item-5 item-6"
    "delete-button delete-button";
  border: 1px solid #ccc;
  border-radius: 4px;
  gap: 16px;
  padding: 16px;
  margin-bottom: 16px;
  cursor: pointer;
}

.item-brand {
  grid-area: brand;
  word-break: break-all;
}

.item-1 {
  grid-area: item-1;
}

.item-2 {
  grid-area: item-2;
  text-align: right;
}

.item-3 {
  grid-area: item-3;
}

.item-4 {
  grid-area: item-4;
  text-align: right;

}

.item-5 {
  grid-area: item-5;
}

.item-6 {
  grid-area: item-6;
  text-align: right;

}

.delete-button {
  grid-area: delete-button;
  justify-self: end;
}
